<header>
  <h1>Coops</h1>
  <hr>
</header>

<app-buscar-input
  (OnDebounce)="sugerencias($event)"
  placeholder="Buscar coop..."
  (OnEnter)="buscar($event)"
></app-buscar-input>

<ul *ngIf="mostrarSugerencia" class="list-group">
  <li
    *ngFor="let sugerencia of coopsSugeridos"
    class="list-group-item list-group-item-action"
  >
    <a class="nav-link" [routerLink]="['./', sugerencia.id]">{{
      sugerencia.name
    }}</a>
  </li>
  <li
    class="list-group-item list-group-item-action"
    (click)="buscarSugerido(termino)"
  >
    buscar "{{ termino }}"
  </li>
</ul>

<button class="btn btn-warning mt-2 w-100" (click)="openModal()">
  Add Coop
</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>Menber_nr</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let coop of coops; let i = index">
      <td>{{ coop.id }}</td>
      <td>{{ coop.name }}</td>
      <td>{{ coop.menber_nr }}</td>
      <td >
        <span [ngClass]="coop.status == 1 ? 'badge text-bg-success' : 'badge text-bg-danger'">{{ coop.status == 1 ? 'Active' : 'Inactive' }}</span>
      </td>
      <td><a [routerLink]="['./', coop.id]">Ver</a></td>
    </tr>
  </tbody>
</table>
<a [routerLink]="['./', 1]">Ver</a>
