<app-buscar-input
  (OnDebounce)="sugerencias($event)"
  placeholder="Buscar users..."
  (OnEnter)="buscar($event)"
></app-buscar-input>

<ul *ngIf="mostrarSugerencia" class="list-group">
  <li
    *ngFor="let sugerencia of usersSugeridos"
    class="list-group-item list-group-item-action"
  >
    <a class="nav-link" [routerLink]="['./', sugerencia.id]">{{
      sugerencia.name
    }}</a>
  </li>
  <li
    class="list-group-item list-group-item-action"
    (click)="buscarSugerido(termino)"
  >
    buscar "{{ termino }}"
  </li>
</ul>

<button class="btn btn-warning mt-2 w-100" (click)="openModal()">
  Add Users
</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>Username</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.username }}</td>
      <td><a [routerLink]="['./', user.id]">Ver</a></td>
    </tr>
  </tbody>
</table>
<a [routerLink]="['./', 1]">Ver</a>
